# Node
node_modules/
dist/
build/
*.log
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Docker
.dockerignore
Dockerfile

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/

# Tests
coverage/
.nyc_output/
